<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCAnalytics.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OCAnalytics.Settings1>
            <setting name="IniPeriod" serializeAs="String">
                <value>2021-09-21</value>
            </setting>
            <setting name="FinPeriod" serializeAs="String">
                <value>2021-12-31</value>
            </setting>
            <setting name="HorasLaborales" serializeAs="String">
                <value>6.40</value>
            </setting>
            <setting name="HorasPlanificables" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CategoriaFestivos" serializeAs="String">
                <value>Festivo</value>
            </setting>
            <setting name="CategoriaNoComputable" serializeAs="String">
                <value>No Computable</value>
            </setting>
        </OCAnalytics.Settings1>
    </userSettings>
</configuration>